<p class="text-sm text-gray-500">
  <%= link_to "Nová správa",
              message_thread_path(notification.message_thread, anchor: dom_id(notification.message)),
              class: "underline font-semibold",
              title: notification.message.title
  %> vo vlákne <%= link_to notification.message_thread.title, notification.message_thread, class: "underline font-semibold" %><% if notification.filter_subscription %> vo filtri <%= link_to notification.filter_name, message_threads_path(q: notification.filter.query), class: "underline font-semibold" %><% end %>.
</p>
