<% if @sticky_note.present? %>
  <%= turbo_frame_tag "sticky_note" do %>
    <% color_classes = @sticky_note.note_type == "fs_authentication_failed" \
         ? "border-red-300 bg-red-50 text-red-900" \
         : "border-red-300 bg-red-50 text-red-900" %>
    <div class="sm:mx-4 sm:mt-4 sm:rounded-md border <%= color_classes %> p-4 text-sm">
      <div class="flex items-start justify-between gap-x-6">
        <div>
          <%= render partial: "sticky_notes/#{@sticky_note.note_type}", locals: { sticky_note: @sticky_note } %>
        </div>
        <%= button_to sticky_note_path, method: :delete, form_class: "-m-2 flex-none p-2" do %>
          <span class="sr-only">Skryť</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"/>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
