<% if @sticky_note_type.present? %>
  <%= turbo_frame_tag "sticky_note" do %>
    <div class="sm:m-4 sm:mb-0">
      <div class="flex items-center justify-between gap-x-6 bg-red-600 px-6 py-2.5 sm:rounded-md sm:py-3 sm:pl-4 sm:pr-3.5">
        <p class="text-sm/6 text-white">
          <%= render partial: "sticky_notes/#{@sticky_note_type}", locals: { data: @sticky_note_data } %>
        </p>
        <%= button_to sticky_note_path, method: :delete, form_class: "-m-3 leading-none flex-none p-3 focus-visible:outline-offset-[-4px]" do %>
          <span class="sr-only">Skryť</span>
          <svg class="size-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"/>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
