<div>
  <h1 class="font-bold text-4xl">Dashboard#show</h1>
  <% if Current.user && Current.user.site_admin? %>
    <p><%= link_to "Site admin", admin_tenants_path, class: "text-blue-600 hover:underline" %></p>
  <% end %>
  <% if Current.user && Current.user.admin? %>
    <p><%= link_to "Tenant admin", admin_tenant_path(Current.tenant), class: "text-blue-600 hover:underline" %></p>
  <% end %>
  <p>Tu raz bude pekny dashboard pre prihlasenych.</p>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Ked chces dotiahnut a zobrazit spravy, tak:</h3>
      <ul class="list-decimal">
        <li>Chod vlavo na Schranky</li>
        <li>Klikni na Dev box</li>
        <li>Klikni na Stiahnut nove spravy</li>
        <li>Dockaj cca minutku - pripadne kontroluj cez "Good job dashboard vlavo</li>
        <li>Refreshni browser tab (no, nemame tam este pushovy refresh)</li>
        <li>Tadaaa, vlavo by si mal mat vylistovane pouzite tagy, a v nich spravy</li>
      </ul>
    </div>
  </div>
</div>
