<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= image_tag("SD_icon.png", alt: "logo", class: "mx-auto h-10 w-auto") %>
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Požiadajte o vytvorenie účtu</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <p class="text-center text-gray-900">
        <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Kontaktujte nás</a>
        <%= (" s Vašim identifikátorom: " + params[:uuid]) if params[:uuid] %>
      </p>
    </div>
  </div>
</div>
