<%= form_with url: fs_message_drafts_path, id: form_id, multipart: true, class: 'w-full' do |f| %>
  <div class="self-stretch px-6 pt-6 flex-col justify-start items-start flex">
    <div class="mb-4 w-full">
      <div class="col-span-full">
        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">XML obsah správ</label>
        <div id="dropzone" class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
          <%= content_tag(:div, {
            "data-controller": "dropzone",
            class: "text-center mt-6"
          }) do %>
            <%= render Common::IconComponent.new("document-text", classes: "mx-auto h-12 w-12 text-gray-300") %>
            <div class="mt-4 text-sm leading-6 text-gray-600">
              <label for="content[]" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>Nahrajte súbory</span>
                <input id="content[]" name="content[]" type="file" class="sr-only" multiple>
              </label>
              <p class="pl-1">alebo ich sem presuňte</p>
            </div>
            <div class="mt-6 text-center" id="fileList"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="self-stretch px-6 pb-6 flex-col justify-start items-start flex">
  <%= content_tag(:div, {
    "data-controller": "message-drafts",
    "data-message-drafts-form-id": form_id,
    class: "mt-6"
  }) do %>
    <button data-action="click->message-drafts#create" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
      Nahrať správy
    </button>
  <% end %>
</div>
