<p class="text-sm text-gray-500">
  Nové vlákno <%= link_to notification.message_thread.title, notification.message_thread, class: "underline font-semibold" %>
   vo filtri <%= link_to notification.filter_name, message_threads_path(q: notification.filter.query), class: "underline font-semibold" %>.
</p>
