<div class="flex flex-col justify-start items-start     rounded-md bg-white border border-gray-200">
  <div class="flex justify-start items-center    relative  gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200" >
    <p class=" w-[1074px] text-xl font-semibold text-left text-gray-900">
      Automatické pravidlá
    </p>
    <div
      class="flex justify-center items-center   relative  gap-2.5 px-3.5 py-2.5 rounded-md bg-blue-600"
    >
      <p class="  text-base font-medium text-left text-white">
        Vytvoriť pravidlo
      </p>
    </div>
  </div>
  <div class="flex flex-col justify-start items-start   ">
    <div
      class="flex justify-start items-center    gap-2 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200"
    >
      <% automation_rules.each do |automation_rule| %>
        <%= automation_rule %>
      <% end %>
    </div>
  </div>
</div>
