<p>
  Do Vašej elektronickej schránky bola odoslaná správa určená do vlastných rúk. Pre jej zobrazenie kliknite na tlačidlo „Prevziať správu“ <b>najneskôr dňa <%= l(Date.parse(@message.metadata['delivery_notification']['delivery_period_end_at'])) %></b>.
</p>

<p>
  <b>Ak správu v lehote neprevezmete, bude sa po jej uplynutí považovať za nedoručenú a neprečítanú.</b>
</p>
