<%= tag.turbo_frame id: 'thread-note' do %>
  <div class="flex items-start space-x-4 p-4 bg-white">
    <div class="min-w-0 flex-1">
      <%= form_with model: [@message_thread, @message_thread_note], class: 'relative' do |form| %>
        <div class="overflow-hidden rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-blue-700">
          <%= form.text_area :note, placeholder: 'Zadajte svoje poznámky k vláknu', rows: @note_area_size, autofocus: true, class: 'block w-full resize-none border-0 bg-transparent py-1.5 text-gray-600 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6' %>
          <div class="py-2" aria-hidden="true">
            <div class="py-px">
              <div class="h-9"></div>
            </div>
          </div>
        </div>
        <div class="absolute inset-x-0 bottom-0 flex justify-end py-2 pl-3 pr-2">
          <div class="flex-shrink-0">
            <%= form.button 'Uložiť', data: { turbo_frame: '_top' }, class: 'inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
