<% if @message.form&.is_signed? || @message.form.present? || @message.authorized?  %>
  <div class="w-fit flex flex-col gap-1 <%= @classes %>">
    <% if @message.form&.is_signed? %>
      <%= render Common::BadgeComponent.new("Podpísané", "green", "fingerprint") %>
    <% end %>
    <% if @message.authorized? %>
      <%= render Common::BadgeComponent.new("Prevzatá doručenka", "purple") %>
    <% end %>
    <% if @message.thread.archived? %>
      <%= render ArchivedObjectTagComponent.new(@message.form&.archived_object, "hidden md:flex") %>
    <% end %>
  </div>
<% end %>
