<% if @recipients_list.is_a?(Array) %>
  <label for="recipient" class="block mb-2 text-base font-medium text-gray-900">Príjemca</label>
  <%= select_tag(:recipient, options_for_select(@recipients_list), required: true, prompt: "Zvoľte príjemcu", class: "mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") %>
<% else %>
  <input id="recipient"/>
<% end %>
