<%= link_to @message_thread.messages.max { |a, b| a.delivered_at <=> b.delivered_at }, class:"flex justify-stretch items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-4 p-4 border-t-0 border-r-0 border-b border-l-0 border-gray-200" do %>
  <div class="flex justify-stretch items-center flex-grow-0 flex-shrink-0 relative gap-4 pt-1 pb-[30px] rounded-full">
    <div class="flex-grow-0 flex-shrink-0 w-4 h-4 relative">
      <div class="w-4 h-4 absolute left-[-1px] top-[-1px] rounded bg-gray-50 border border-gray-400"></div>
    </div>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-grow-0 flex-shrink-0 w-6 h-6 relative" preserveAspectRatio="xMidYMid meet">
      <path d="M3 8L10.89 13.26C11.2187 13.4793 11.6049 13.5963 12 13.5963C12.3951 13.5963 12.7813 13.4793 13.11 13.26L21 8M5 19H19C19.5304 19 20.0391 18.7893 20.4142 18.4142C20.7893 18.0391 21 17.5304 21 17V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 pr-[7px]">
      <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-1.5 px-2 py-1 rounded-md bg-yellow-50 border border-yellow-300">
        <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-yellow-700">GO</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-start items-start flex-grow relative gap-1">
    <div class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-4">
      <p class="flex-grow-0 flex-shrink-0 text-lg text-center text-gray-900"><%= @message_thread.title %></p>
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-2">
        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-1.5 px-2 py-1 rounded-md bg-gray-50 border border-gray-300">
          <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-gray-600">Tag1</p>
        </div>
      </div>
    </div>
    <p class="flex-grow-0 flex-shrink-0 text-base text-center text-gray-500"><%= @message_thread.with_whom %></p>
  </div>
  <div class="flex flex-col justify-start items-end self-stretch flex-grow-0 flex-shrink-0 gap-1 pr-4">
    <div class="flex justify-end items-center flex-grow-0 flex-shrink-0 relative gap-2">
      <p class="flex-grow-0 flex-shrink-0 text-lg text-center text-gray-900"><%= l @message_thread.delivered_at, :format => :long %></p>
    </div>
  </div>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-grow-0 flex-shrink-0 w-6 h-6 relative" preserveAspectRatio="xMidYMid meet">
    <path d="M9 5L16 12L9 19" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
<% end %>
