<%= tag.turbo_frame id: 'thread-note' do %>
  <div class="flex items-start space-x-4 p-6 bg-white">
    <div class="min-w-0 flex-1">
      <div class="overflow-hidden">
        <%= tag.p simple_format @message_thread_note.note, class: 'block w-full resize-none bg-transparent text-gray-400 sm:text-sm sm:leading-6' %>
      </div>
    </div>
  </div>
<% end %>
