<h2>Nová správa</h2>

<%= content_tag(:div,
  {
    "data-controller": "messageDrafts",
    "data-messageDrafts-recipient-services-path": upvs_allowed_recipient_services_path
  }
) do %>
  <label for="recipient" class="block mb-2 text-base text-gray-900">Prijímateľ</label>
  <select id="recipient" data-action="change->messageDrafts#changed" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected disabled hidden>Zvoľte prijímateľa</option>
    <% @recipients_list.each do |recipient| %>
      <option value="<%= recipient[:uri] %>"><%= recipient[:name] %></option>
    <% end %>
  </select>
<% end %>

<% if @services.present? %>
  <label for="form_template" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Služba</label>
  <select id="form_template" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <% @services.each do |service| %>
      <option><%= service %></option>
    <% end %>
  </select>
<% end %>