<div class="relative" data-controller="dropdown"
                data-dropdown-active-target="#dropdown-button"
                data-dropdown-active-class="bg-gray-50"
                data-dropdown-invisible-class="opacity-0 scale-95"
                data-dropdown-visible-class="opacity-100 scale-100"
                data-dropdown-entering-class="ease-out duration-100"
                data-dropdown-enter-timeout="100"
                data-dropdown-leaving-class="ease-in duration-75"
                data-dropdown-leave-timeout="75"
                >
  <div id="dropdown-button" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
    <button type="button" class="flex items-center gap-2" <%= "disabled=true" if Current.tenant.boxes.one? %>aria-expanded="false" aria-haspopup="true">
      <div class="flex justify-start items-center relative gap-3 py-1.5 pl-8 rounded-md bg-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-5 h-5 relative" preserveAspectRatio="xMidYMid meet">
          <path d="M15.8333 9.16667H4.16667M15.8333 9.16667C16.2754 9.16667 16.6993 9.34226 17.0118 9.65482C17.3244 9.96738 17.5 10.3913 17.5 10.8333V15.8333C17.5 16.2754 17.3244 16.6993 17.0118 17.0118C16.6993 17.3244 16.2754 17.5 15.8333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V10.8333C2.5 10.3913 2.67559 9.96738 2.98816 9.65482C3.30072 9.34226 3.72464 9.16667 4.16667 9.16667M15.8333 9.16667V7.5C15.8333 7.05797 15.6577 6.63405 15.3452 6.32149C15.0326 6.00893 14.6087 5.83333 14.1667 5.83333M4.16667 9.16667V7.5C4.16667 7.05797 4.34226 6.63405 4.65482 6.32149C4.96738 6.00893 5.39131 5.83333 5.83333 5.83333M14.1667 5.83333V4.16667C14.1667 3.72464 13.9911 3.30072 13.6785 2.98816C13.366 2.67559 12.942 2.5 12.5 2.5H7.5C7.05797 2.5 6.63405 2.67559 6.32149 2.98816C6.00893 3.30072 5.83333 3.72464 5.83333 4.16667V5.83333M14.1667 5.83333H5.83333" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <% if Current.box %>
          <%= render Common::BoxLabelComponent.new(Current.box) %>
          <p class="text-base text-left text-gray-900"><%= Current.box.name %></p>
        <% else %>
          <p class="  text-base text-left text-gray-900">Všetky schránky</p>
        <% end %>
      </div>
    </button>
  </div>
  <div data-dropdown-target="menu" class="z-50 absolute transform transition hidden opacity-0 scale-95" >
    <%= render Layout::BoxSelectorPopupComponent.new %>
  </div>
</div>
