<% if @filters.any? %>
  <div class="flex flex-col justify-start items-start    gap-2">
    <div class="flex justify-start items-start    px-4 py-2">
      <p class="text-sm text-center text-gray-400">Filtre</p>
    </div>
    <% @filters.each do |filter| %>
      <% url = message_threads_path(q: filter.query) %>
      <%= link_to url, class: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group w-72 flex gap-x-3 rounded-md p-2 px-4 text-sm leading-6 font-semibold data-[active=true]:bg-gray-50 data-[active=true]:text-indigo-600", data: { active: current_page?(url) } do %>
        <%= render Icons::FiltersComponent.new() %>
        <p class="truncate text-base font-medium"><%= filter.name %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
