<% if @filters.present? %>
  <div
    <% if @sortable %>
    data-controller="sortable"
    data-sortable-url-value="<%= sort_filters_path %>"
    data-sortable-draggable-class=".item"
    data-sortable-handle-class=".handle"
    <% end %>
    class="w-full flex flex-col justify-start items-start gap-2"
    data-test="filters"
    >
    <% if @sortable %>
      <%= link_to 'Sort', '', class: 'hidden', data: { turbo_method: :patch, sortable_target: 'submit', url: sort_filters_path } %>
    <% end %>
    <% if @label.present? %>
      <div class="flex justify-start items-start px-4 py-2">
        <p class="text-sm text-center text-gray-400"><%= @label %></p>
      </div>
    <% end %>
    <% @filters.each do |filter| %>
      <%= render TW::SidebarMenuItemComponent.new(
        name: filter.name,
        url: filtered_message_threads_path(filter:),
        icon: icon_for(filter),
        variant: :light,
        classes: "item #{!@sortable ? 'pl-4' : ''}",
      ) %>
    <% end %>
  </div>
<% end %>