<li>
  <div class="text-xs font-semibold leading-6 text-indigo-200">Your folders</div>
  <ul role="list" class="-mx-2 mt-2 space-y-1">
    <% Current.tenant&.folders&.each do |folder| %>
      <li>
        <a href=<%= url_for(folder) %> class="text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white"><%= folder.name[0] %></span>
          <span class="truncate"><%= folder.name %></span>
        </a>
      </li>
    <% end %>
  </ul>
</li>
