<div class="flex flex-col absolute z-50 mt-2 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
  <div class="flex flex-col justify-start items-start rounded-lg bg-white border border-gray-300" style="box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);">
    <% if @tags && @tags.any? %>
      <div class="flex justify-start items-center self-stretch gap-6 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
        <div class="flex flex-col justify-start items-start flex-grow relative">
          <p class="self-stretch flex-grow text-m font-semibold text-left text-gray-900">Pridaj právo na štítok skupine</p>
        </div>
        <%= render Common::CloseButtonComponent.new(link_to: edit_permissions_admin_tenant_group_path(Current.tenant, @group), target_frame: "modal") %>
      </div>
      <div class="flex flex-wrap gap-2 p-6 max-w-3xl">
        <% @tags.each do |tag| %>
          <%= render Admin::Permissions::PermissionAddComponent.new(tag: tag, group: @group) %>
        <% end %>
      </div>
    <% else %>
      <div class="flex justify-start items-center self-stretch gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
        <%= 'Štítok nenájdený' %>
      </div>
    <% end %>
  </div>
</div>
