<p class="text-sm text-gray-500">
  Export správ #<%= notification.export.id %> je pripravený <%= link_to "na stiahnutie", message_threads_bulk_export_path(notification.export), class: "underline font-semibold" %>.
</p>
