<div class="bg-gray-100 h-full" data-controller="slideover" data-action="keydown.esc->slideover#hide" tabindex="-1">
  <%= mobile_sidebar %>
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-40 lg:flex lg:w-80 lg:flex-col">
    <%= static_sidebar %>
  </div>
  <div class="lg:pl-80 bg-gray-100">
    <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-3 border-b border-gray-200 bg-white px-4 sm:gap-x-4 sm:px-6 lg:gap-x-4 lg:px-8">
     <%= top_navigation %>
    </div>
    <%= main_content %>
  </div>
</div>
