<a href=<%= @url %> class="text-indigo-200 hover:text-white hover:bg-indigo-700 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
  <% if @icon_component %>
    <%= render @icon_component.new %>
  <% end %>
  <%= @name %>
</a>
