<a href=<%= @url %> class="flex justify-start items-start    px-4 py-2">
  <div class="flex justify-center items-center   relative  gap-3">
    <% if @icon_component %>
      <%= render @icon_component %>
    <% end %>
    <p class="  text-base font-medium text-left text-gray-900"><%= @name %></p>
  </div>
</a>
