<div class="flex flex-col justify-start items-start w-full pb-4 bg-white border-t-0 border-r border-b-0 border-l-0 border-gray-200 overflow-x-hidden overflow-y-auto">
  <div class="flex justify-start items-center    h-16 relative gap-2 px-4 py-2 bg-white">
    <div class="  w-[35px] h-[33.06px] relative ">
      <%= image_tag("SD_icon.png", alt: "logo", class:"w-[35px] h-[35px] absolute left-[-1px] top-[-5.97px] object-cover") %>
    </div>
    <div class="flex justify-start items-center  h-[45px] relative  gap-2.5">
      <p class="  text-xl font-medium text-left text-[#111928]"> GovBox Pro </p>
    </div>
  </div>
  <div class="flex justify-start items-center    h-0 relative">
    <svg width="275" height="1" viewBox="0 0 275 1" fill="none" xmlns="http://www.w3.org/2000/svg" class="" preserveAspectRatio="xMidYMid meet">
      <line y1="0.5" x2="275" y2="0.5" stroke="#E5E7EB"></line>
    </svg>
  </div>
  <div class="flex flex-col justify-start items-start gap-4 px-2 py-4">
    <%= render TW::DynamicSidebarMenuComponent.new(menu: @menu) %>
  </div>
</div>
