<div class="flex flex-col grow justify-start items-start w-full pb-4 divide-y bg-white border-r border-gray-200 overflow-x-hidden overflow-y-auto" data-test="sidebar">
  <%= link_to root_path, "data-action": "click->slideover#hide", class: "flex justify-start items-center h-16 p-4" do %>
    <div class="flex justify-center items-center">
      <%= image_tag("SD_icon.png", alt: "logo", class: "w-10 h-10") %>
    </div>
    <p class="text-xl font-medium text-[#111928]">GovBox Pro</p>
  <% end %>
  <div class="flex flex-col justify-start items-start w-full px-2">
    <%= render TW::DynamicSidebarMenuComponent.new(menu: @menu) %>
  </div>
</div>
