openapi: 3.1.0

info:
  title: GovBox Pro API
  version: 0.0.1

  description: Rozhranie na prácu s prostredníctvom služby GovBox

  contact:
    name: Služby Slovensko.Digital, s.r.o.
    url: https://ekosystem.slovensko.digital/sluzby/govbox
    email: ekosystem@slovensko.digital

servers:
  - description: Server Govbox Pro v PROD prostredí
    url: https://pro.govbox.sk
  - description: Server Govbox Pro v Staging prostredí
    url: https://govbox-pro.staging.slovensko.digital/

security:
  - "API Token": []

paths:
  /api/site_admin/tenants/{id}:
    delete:
      tags: [Správa tenantov]
      summary: Vymaže tenanta zo systému vrátane všetkých jeho údajov
      description: |
        Vymaže tenanta zo systému.
      parameters:
        - name: id
          in: path
          description: Tenant id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Úspešne vymazaný tenant zo systému.

  /api/site_admin/tenant/:
    post:
      tags: [Správa tenantov]
      summary: Založí nového tenanta v systéme
      description: |
        Založí nového tenanta.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Názov nového tenanta, typicky názov spoločnosti
                  type: string
                admin:
                  type: object
                  properties:
                    name:
                      description: Meno administrátora pre daného tenanta
                      type: string
                    email:
                      description: email administrátora, bude použitý na OAUTH2 autentifikáciu
                      type: string
      responses:
        200:
          description: Úspešne založený tenant v systéme
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Identifikátor založeného tenanta v systéme
                    type: integer

  /api/site_admin/tenant/{id}/box:
    post:
      tags: [Správa tenantov]
      summary: Založí novú schránku v rámci tenanta.
      description: |
        Založí novú schránku v rámci tenanta. Pre korektné fungovanie musí schránka existovať na slovensko.sk
      parameters:
        - name: id
          in: path
          description: Identifikátor tenanta
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Názov schránky, typicky názov spoločnosti
                  type: string
                  example: "Moja firma s.r.o."
                uri:
                  description: URI schránky na slovensko.sk
                  type: string
                  example: "ico://12345678/"
                short_name:
                  description: Skrátený názov pre odlíšenie vlákien/správ z rôznych schránok v používateľskom rozhraní. Odporúčame maximálne 3 znaky
                  type: string
                  example: "MF"
                color:
                  description: Farba z palety tailwind farieb použitá v štítku pre dlíšenie vlákien/správ z rôznych schránok v používateľskom rozhraní
                  type: string
                  enum:
                    [
                      "slate",
                      "gray",
                      "zinc",
                      "neutral",
                      "stone",
                      "red",
                      "orange",
                      "amber",
                      "yellow",
                      "lime",
                      "green",
                      "emerald",
                      "teal",
                      "cyan",
                      "sky",
                      "blue",
                      "indigo",
                      "violet",
                      "purple",
                      "fuchsia",
                      "pink",
                      "rose",
                    ]
                  example: "red"
                settings:
                  type: object
                  properties:
                    obo:
                      description: V prípade použitia spoločného prístupu k schránke OBO identifikátor
                      type: string
                api_connection:
                  type: object
                  description: Parametre pripojenia na ÚPVS
                  properties:
                    sub:
                      description: TBD
                      type: string
                    api_token_private_key:
                      description: Privátny kľúč k pripojeniu na ÚPVS
                      type: string
      responses:
        200:
          description: Úspešne založený tenant v systéme
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Identifikátor založeného tenanta v systéme
                    type: integer

  securitySchemes:
    "API Token":
      description: |
        Požaduje API token vytvorený treťou stranou, ktorý:

        - je zakodovaný algoritmom RS256,
        - je podpísaný privátnym kľúčom tretej strany,
        - má nastavený `sub` claim na identifikátor tretej strany,
        - má nastavený `exp` claim na max. 120 minút,
        - má nastavený `jti` claim na identifikátor, ktorý je unikátny počas 120 minút.

        Príklad `header` segmentu:

              {
                "alg": "RS256",
              }

        Príklad `payload` segmentu:

              {
                "sub": "SPL_Irvin_50158635_11012019",
                "exp": 1543437976,
                "jti": "4dee8618-abbe-4dc3-83ba-e984d1396f9f",
              }

        API token musí byť prítomný buď:

        - v hlavičke požiadavky ako `Authorization: Bearer <api-token>`,
        - alebo v URL parametri požiadavky ako `?token=<api-token>`.

        Poznámky:

        - hodnota `jti` sa kontroluje podľa regulárneho výrazu `/\A[0-9a-z\-_]{32,256}\z/i`,
        - rovnaké `jti` sa nesmie použiť viac ako jedenkrát počas 120 minút.
      type: http
      scheme: bearer
      bearerFormat: JWT
