<div class="flex justify-center items-center gap-1.5 px-2 py-1 rounded-md bg-blue-50 border border-blue-300 <%= @classes %>">
  <span class="text-sm text-left text-blue-600"><%= @label %></span>
</div>