<div class="mx-auto text-center p-12">
  <%= render Common::IconComponent.new(@icon, classes: "mx-auto size-20 text-gray-400") %>

  <h3 class="mt-2 text-sm font-semibold text-gray-900"><%= @header %></h3>
  <p class="mt-1 text-sm text-gray-500 max-w-md mx-auto"><%= @description %></p>
</div>
