<div class="flex sm:flex-row flex-col-reverse gap-4 justify-end sm:-mx-6 sm:px-6 -mx-4 p-4 -mb-4 bg-gray-50">
  <button data-action="click-><%= remove_content_action %>" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
    Zavrieť
  </button>
  <%= submit_button %>
</div>
