<div class="flex flex-col justify-center items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 px-6 py-12">
  <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-grow-0 flex-shrink-0 w-16 h-16 relative" preserveAspectRatio="xMidYMid meet">
    <path d="M21.8333 42.8916L29.5107 35.2143M29.5107 35.2143C30.2512 35.9672 31.1335 36.566 32.1066 36.9762C33.0798 37.3864 34.1245 37.5999 35.1805 37.6043C36.2366 37.6087 37.2831 37.404 38.2596 37.002C39.2361 36.6 40.1234 36.0086 40.8702 35.2619C41.6171 34.5152 42.2087 33.6281 42.611 32.6517C43.0132 31.6752 43.2182 30.6288 43.214 29.5727C43.2098 28.5167 42.9966 27.4719 42.5866 26.4987C42.1767 25.5255 41.578 24.643 40.8253 23.9023C39.3211 22.422 37.2929 21.5961 35.1824 21.6044C33.072 21.6128 31.0504 22.4547 29.5579 23.9469C28.0654 25.439 27.223 27.4604 27.2141 29.5709C27.2053 31.6813 28.0307 33.7097 29.5107 35.2143ZM56.5 32.225C56.5 35.3767 55.8792 38.4976 54.6731 41.4094C53.467 44.3212 51.6992 46.9669 49.4706 49.1955C47.242 51.4241 44.5962 53.192 41.6844 54.3981C38.7726 55.6042 35.6517 56.225 32.5 56.225C29.3483 56.225 26.2274 55.6042 23.3156 54.3981C20.4038 53.192 17.758 51.4241 15.5294 49.1955C13.3008 46.9669 11.533 44.3212 10.3269 41.4094C9.12078 38.4976 8.5 35.3767 8.5 32.225C8.5 25.8598 11.0286 19.7553 15.5294 15.2544C20.0303 10.7535 26.1348 8.22498 32.5 8.22498C38.8652 8.22498 44.9697 10.7535 49.4706 15.2544C53.9714 19.7553 56.5 25.8598 56.5 32.225Z" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
  <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
    <p class="flex-grow-0 flex-shrink-0 text-base font-semibold text-center text-gray-500"><%= @message_header %></p>
    <p class="flex-grow-0 flex-shrink-0 text-base text-center text-gray-500"><%= @message_body %></p>
  </div>
</div>
