<div class="relative" data-controller="modal" data-action="keydown@window->modal#closeWithKeyboard">
  <button type="button" class="rounded-md bg-blue-100 p-2" data-action="click->modal#open">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-4 h-4 relative" preserveAspectRatio="xMidYMid meet">
      <path d="M8 4V8M8 8V12M8 8H12M8 8H4" stroke="#2563EB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
  <div role="dialog" aria-modal="true" aria-labelledby="modal-title" data-target="modal.container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <div class="max-w-lg max-h-screen w-full relative">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 w-full sm:max-w-lg sm:p-6 flex flex-col gap-4">
          <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Pridať tag</h3>
          <div class="flex flex-col items-start gap-4">
            <%= form_with url: search_available_tags_message_thread_path(@message_thread), method: :get,
                          data: { turbo_stream: true, controller: 'debounce', debounce_target: 'form' },
                          class: "flex items-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 w-full" do |form| %>
              <div class="p-2">
                <%= render Icons::SearchComponent.new %>
              </div>
              <%= form.search_field :name_search, value: "", placeholder: "Vyhľadaj štítok",
                                    data: { action: 'input->debounce#debounce' },
                                    onreset: "this.form.requestSubmit()",
                                    class: "grow border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            <% end %>
            <div class="w-full">
              <%= tag.turbo_frame id: "tag-selector-popup", class: "w-100", loading: :lazy, src: search_available_tags_message_thread_path(@message_thread) %>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 sm:flex justify-end">
            <button data-action="click->modal#close" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
              Zrušiť
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>