<span title="<%= @label %>" class="truncate rounded-md px-1.5 py-0.5 text-xs md:text-sm font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10 <%= @classes %>" style="max-width: calc(100vw - 64px)">
  <%= @label %>
</span>