<p class="text-sm text-gray-500">
  <%= link_to "Export správ ##{notification.export.id}", edit_message_threads_bulk_export_path(notification.export), class: "underline font-semibold" %> bol zaradený na spracovanie.
</p>
