<h2>Hromadné podania</h2>

<%= link_to 'Nový balík', novy_balik_submissions_path %>

<div>
  <% @submission_packages.each do |package| %>
    <p><%= link_to "#{package.name} z #{package.created_at.strftime('%d.%m.%Y %H:%M')}", submission_path(package.id) %></p>
  <% end %>
</div>
