<h2>Nový balík podaní</h2>

<%= form_tag submissions_path, method: :post, multipart: true do %>
  <%= label_tag :content, 'Balík' %>
  <%= file_field_tag :content %>
  <br/><br/>
  <%= submit_tag 'Nahrať', class: "btn btn-primary" %>
<% end %>
