<h2>Nový import draftov</h2>

<%= form_tag drafts_imports_path, method: :post, multipart: true do %>
  <%= label_tag :content, 'Import' %>
  <%= file_field_tag :content, accept: "application/zip" %>
  <br/><br/>
  <%= submit_tag 'Nahrať' %>
<% end %>
