<div class="w-full p-4 flex-col justify-start items-start gap-4 inline-flex">
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="flex-col self-stretch p-6 border-b border-gray-200 justify-start items-start gap-4 inline-flex">
      <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">Filtre</div>
      Nastavte si osobnú preferenciu viditeľnosti filtrov v ľavom menu
    </div>
    <div class="self-stretch flex-col justify-start items-start flex">
      <%= render Settings::UserFilterVisibilities::ListRowComponent.with_collection(@visibilities) %>
    </div>
  </div>
</div>
