name: Build and Push Docker Image

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  packages: write

jobs:
  build:
    environment: packaging

    name: Build and Push Docker Image

    runs-on: ubuntu-latest

    if: ${{(github.repository == 'slovensko-digital/govbox-pro')}}

    steps:
      - uses: actions/checkout@v5

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: version
        shell: bash
        run: echo "value=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ steps.version.outputs.value }}
