name: Push CI

on:
  push:
    branches: '**'

jobs:
  brakeman:
    name: Brakeman

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: bundle exec brakeman

  test:
    runs-on: ubuntu-latest

    env:
      PGHOST: localhost
      RAILS_ENV: test

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: runner
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: bundle exec rails db:setup --trace
      - run: bundle exec rails test
      - run: bundle exec rails test:system
      - run: bundle exec rails test:integration

  gitlab-push:
    name: Push to GitLab

    if: ${{(github.repository == 'solver-it-sro/govbox-pro') && (github.ref == 'refs/heads/main')}}

    runs-on: ubuntu-latest

    needs: test

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: dokku/github-action@master
        with:
          git_push_flags: '--force'
          git_remote_url: ssh://git@${{secrets.GITLAB_DEPLOY_HOST}}/${{github.event.repository.name}}.git
          ssh_private_key: ${{secrets.GITLAB_DEPLOY_KEY}}
